@charset "utf-8";
.roulette {
  position: relative;
  width: 40%;
  margin: 0 auto;
}
.main-district {
  position: absolute;
  top: 0;
  left: 100%;
  width: 120px;
  background-color: #eee;
}
.main-district--name {
  cursor: pointer;
}
.main-district--name--checked {
  font-weight: 600;
  color: #2d98da;
}
.main-district--number {
  margin-left: 0.3rem;
  padding-right: 0.5rem;
  font-weight: 500;
  color: #20bf6b;
}
.sub-district {
  text-indent: 1rem;
}
.sub-district--unchecked {
  display: none;
}
.sub-district--list {
  text-indent: 1rem;
  cursor: pointer;
}
.sub-district--list--checked {
  font-weight: 500;
  color: #fa8231;
}
.roulette--canvas {
  display: block;
  margin: 0 auto;
  background-color: #d1d8e0;
}
.roulette__button {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 2rem;
  line-height: 2;
  cursor: pointer;
}
.roulette__button-start {
  background-color: #3867d6;
}
